<div ng-controller="registerFormController">
    <p>Name: </p><input type="text" placeholder="name" ng-model="user.name">
    <p>Lastname</p><input type="text" placeholder="lastname" ng-model="user.lastname">
    <p>Username</p><input type="text" placeholder="username" ng-model="user.username">
    <p>Password</p><input type="password" placeholder="pass" ng-model="user.password">
    <p>Repeat Password</p><input type="password" placeholder="pass" ng-model="user.passwordR">
    <button ng-click="register()">Agregar user</button>
</div>